jxser/gateway/bishop.cfg
jxser/gateway/goddess.cfg
jxser/gateway/s3relay/relay_config.ini
jxser/server1/servercfg.ini
jxser/server1/Logs/
jxser/server1/.log
jxser/server1/gameserver.log
jxser/server1/servershutdown_log
jxser/server1/vng_data/Logs/ruonghoangkim/
jxser/gateway/s3relay/Stat/
jxser/server1/itemexchange_setting/rolevalue_log/
jxser/server1/rolevalueladder_setting/rolevalue_log/
jxser/gateway/Logs/
jxser/gateway/s3relay/Logs/
jxser/gateway/s3relay/RelayRunData/
jxser/gateway/s3relay/Stat/
jxser/gateway/s3relay/relay_log/
jxser/gateway/bishop_livetime.dat
jxser/gateway/roleback/
jxser/gateway/Backup/
jxser/gateway/s3relay/SaveData\\chatroom.dat
jxser/server1/Logs/
jxser/gateway/bishop_livetime.dat
jxser/gateway/s3relay/Logs/KSG_ScriptOutputLog_20230803.txt
jxser/gateway/s3relay/Logs/tong/KSG_SystemLog_20230803.txt
jxser/server1/dulieu/thongtintaikhoan-nhanvat.txt
jxser/server1/rolenamechangehis.ini
jxser/server1/servershutdown_log
jxser/gateway/s3relay/SaveData\chatroom.dat
*.log
.vscode
